<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="header__top__left">
						<ul>
							<li><i class="fa fa-envelope"></i> 2051050104duc@ou.edu.vn</li>
							<li>Miễn phí ship hóa đơn trên 100k

							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="header__top__right">
						<div class="header__top__right__social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-pinterest-p"></i></a>
						</div>
						<div class="header__top__right__language">
							<img src="~/Assets/img/language.png" alt="">
							<div>English</div>
							<span class="arrow_carrot-down"></span>
							<ul>
								<li><a href="#">Tiếng việt</a></li>
								<li><a href="#">English</a></li>
							</ul>
						</div>
						<div class="header__top__right__language">
							<div><i class="fa fa-user"></i></div>
							<span class="arrow_carrot-down"></span>
							<ul>
								@if (User.Identity.IsAuthenticated)
								{
									<li><a href="/tai-khoan-cua-toi.html">Tài khoản</a></li>
								}
								else
								{
									<li><a href="/dang-ky.html">Đăng ký</a></li>
									<li><a href="/dang-nhap.html">Đăng nhập</a></li>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div style="width: 130px !important" class="header__logo">
					<a href="#"><img src="../Assets/img/logo-vector.png" alt=""></a>
				</div>
			</div>
			<div class="col-lg-6">
				<nav class="header__menu">
					<ul>
						<li style="color: #007bff" class="active"><a href="/">Home</a></li>
						<li><a asp-controller="Product" asp-action="Index">Shop</a></li>
						<li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
						<li><a asp-controller="Home" asp-action="SendMail">Liên hệ</a></li>
					</ul>
				</nav>
			</div>
			<div id="numbercart" class="col-lg-3">
				@await Component.InvokeAsync("NumberCart")
			</div>
		</div>
		<div class="humberger__open">
			<i class="fa fa-bars"></i>
		</div>
	</div>
</header>

